{% extends "student/layout.html" %}
{% block content %}
<style>
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
    }

    input,
    select,
    button {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        font-size: 14px;
    }

    button {
        cursor: pointer;
    }
</style>


    <h1>Application for Change of Enrollment (Adding of Subjects)</h1>
    <p>Process request for application for change of enrollment specifically for adding of subjects. This is both for regular and irregular students of the University and is done during the adjustment period.</p>
    <br>
    <p><a href="{{url_for('download_AddingSubs')}}">Download Application file for Adding Subject</a></p>
    <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="handleAlertClose()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Application Form</h2>
    <form action="{{ url_for('add_subjects') }}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" class="application-form">
        <label for="studentNumber">Student number:</label>
        <input type="text" id="student_number" name="studentNumber" required onblur="getStudentNumber()"><br>

        <label for="name">Student Name:</label>
        <input type="text" id="student_name" name="name" required><br>

        <label for="subject_Names">Subject Name (comma-separated):</label>
        <input type="text" id="subject_Names" name="subject_Names" required><br>

        <label for="enrollment_type">Enrollment Type:</label>
        <select id="enrollment_type" name="enrollment_type" required>
            <option value="Regular">Regular</option>
            <option value="Irregular">Irregular</option>
        </select><br>

        <label for="file">File:</label>
        <input type="file" id="file" name="file"><br>

        <label for="user_responsible">User Responsible:</label>
        <select name="user_responsible" id="user_responsible">
            <option value="Director/Head of Academic Program">Director/Head of Academic Program</option>
            <option value="CDO Cashier/Accounting Office">CDO Cashier/Accounting Office</option>
            <option value="Registrar's Office">Registrar's Office</option>
        </select><br>

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="Sent" selected>Sending</option>
            <option value="Pending" disabled>Pending</option>
            <option value="Approved" disabled>Approved</option>
            <option value="Rejected" disabled>Rejected</option>
        </select><br>

        <button type="submit" class="btn btn-primary btn-block">Submit Application</button>
    </form>

    <script>
        function validateForm() {
            var studentNumber = document.getElementById('student_number').value;
            var studentName = document.getElementById('student_name').value;
            var subject_Names = document.getElementById('subject_Names').value;
            var enrollmentType = document.getElementById('enrollment_type').value;

            if (!studentNumber || !studentName || !enrollmentType || !subject_Names) {
                console.error('Error: Please fill out all required fields.');
                return false;
            }

            return true;
        }
    </script>
{% endblock content %}
