{% extends "student/layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="handleAlertClose()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="data data1">
    <div class="content-data">
        <div class="head mb-5">
            <h3>Change Password</h3>
        </div>
        <form action="" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" class="application-form">

            <div class="row mb-5">
                <label for="currentpassword" class="col-sm-3 col-form-label">Current Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="currentpassword" name="currentPassword">
                </div>
            </div>

            <div class="row mb-5">
                <label for="newPassword" class="col-sm-3 col-form-label">New Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="newPassword" name="newPassword">
                </div>
                <p id="newPasswordRequirements" class="form-text text-muted password"></p>
            </div>

            <div class="row mb-3">
                <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                </div>
                <span id="confirmPasswordRequirements" class="form-text text-muted password"></span>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Change Password</button>
            </div>

        </form>

    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    // Automatically close the alert messages after 3 seconds
    setTimeout(function() {
        $('.alert').alert('close');
    }, 3000);

    // SCRIPT FOR CHANGE PASSWORD
    // Get the input fields and the password requirements message elements
    var newPasswordInput = document.getElementById('newPassword');
    var confirmPasswordInput = document.getElementById('confirmPassword');
    var newPasswordRequirements = document.getElementById('newPasswordRequirements');
    var confirmPasswordRequirements = document.getElementById('confirmPasswordRequirements');

    // Function to display the password requirements message for newPassword
    function showNewPasswordRequirements() {
        newPasswordRequirements.textContent = "Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one special character.";
    }

    // Function to display the password requirements message for confirmPassword
    function showConfirmPasswordRequirements() {
        confirmPasswordRequirements.textContent = "Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one special character.";
    }

    // Function to hide the password requirements message for newPassword
    function hideNewPasswordRequirements() {
        newPasswordRequirements.textContent = "";
    }

    // Function to hide the password requirements message for confirmPassword
    function hideConfirmPasswordRequirements() {
        confirmPasswordRequirements.textContent = "";
    }

    // Add event listeners to show/hide the password requirements message for newPassword
    newPasswordInput.addEventListener('focus', showNewPasswordRequirements);
    newPasswordInput.addEventListener('blur', hideNewPasswordRequirements);

    // Add event listeners to show/hide the password requirements message for confirmPassword
    confirmPasswordInput.addEventListener('focus', showConfirmPasswordRequirements);
    confirmPasswordInput.addEventListener('blur', hideConfirmPasswordRequirements);
</script>
{% endblock script %}
