{% extends "student/home.html" %}

{% block services %}
    <h1>Application for Change of Enrollment (Change of Schedule/Subjects)</h1>
    <p>Process requests for application for change of enrollment specifically for changing schedules or subjects. This is applicable to both regular and irregular students of the University and is done during the adjustment period.</p>

    <h2>Checklist of Requirements:</h2>
    <ul>
        <li>Accomplished and printed copy of ACE form (Change of Schedule/Subject) downloadable from <a href="http://www.pup.edu.ph/downloads/students/">www.pup.edu.ph/downloads/students/</a>.</li>
    </ul>
    <br>
        <p><a href="{{url_for('download_Change_Sched_Subs')}}">Download Application file for Change of Subject/Sched</a></p>
    <br>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>

    <h2>Application Form</h2>
    <form action="{{ url_for('change_of_subjects') }}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <label for="studentNumber">Student No.:</label><br>
        <input type="text" id="studentNumber" name="studentNumber" required><br><br>
    
        <label for="name">Student Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
    
        <label for="enrollment_type">Enrollment Type:</label><br>
        <select id="enrollment_type" name="enrollment_type" required>
            <option value="Regular">Regular</option>
            <option value="Irregular">Irregular</option>
        </select><br><br>
    
        <label for="ace_form_file">ACE Form File:</label>
        <input type="file" id="ace_form_file" name="ace_form_file"><br><br><!-- File input field -->

        <label for="user_responsible">User Responsible:</label>
        <select id="user_responsible" name="user_responsible" required>
            <option value="Faculty Member/s">
                Faculty Member/s
            </option>
            <option value="Director/Head of Academic Program">Director/Head of Academic Program</option>
            <option value="CDO Cashier/Accounting">CDO Cashier/Accounting</option>
            <option value="Registrar's Office">Registrar's Office</option>
        </select><br><br>
    
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="Sent" selected>Sending</option>
            <option value="Pending" disabled>Pending</option>
            <option value="Approved" disabled>Approved</option>
            <option value="Rejected" disabled>Rejected</option>
        </select><br><br>

        <button type="submit" class="btn btn-primary btn-block">Submit Application</button>
    </form>
    <script>
        function validateForm() {
            var studentNumber = document.getElementById('studentNumber').value;
            var studentName = document.getElementById('name').value;
            var enrollmentType = document.getElementById('enrollment_type').value;
            var reason = document.getElementById('reason').value;
            var meFile = document.getElementById('me_file').value;
    
            if (!studentNumber || !studentName || !enrollmentType || !reason || !meFile) {
                alert('Error: Please fill out all required fields.');
                return false;
            }
    
            // Add additional validation checks here if needed
    
            return true;
        }
    </script>
{% endblock %}
