{% extends "student/layout.html" %}
{% block content %}

    <div class="data data1">
        <div class="content-data">
            <div class="head">
                <h3>Correction of Grade Entry, Late Reporting of Grades, and Removal of Incomplete Mark</h3>           
            </div>
          
            <form action="{{url_for('submit_grade_correction')}}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">

                <div class="row mb-3">
                    <label for="StudentNumber" class="col-sm-3 col-form-label">Student Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="StudentNumber" name="StudentNumber" readonly disabled>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="Name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Name" name="Name" readonly disabled>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="application_type" class="col-sm-3 col-form-label">Application Type</label>
                        <div class="col-sm-8">
                            <select class="custom-select" id="application_type" name="application_type" required>
                                <option value="">Select Application Type</option>
                                <option value="Correction of Grade Entry">Correction of Grade Entry</option>
                                <option value="Late Reporting of Grades">Late Reporting of Grades</option>
                                <option value="Removal of Incomplete Mark">Removal of Incomplete Mark</option>
                            </select>
                        </div>
                </div>
                
                <div class="row mb-3">
                    <label for="completion_form" class="col-sm-3 col-form-label">Completion Form </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" name="completion_form" id="completion_form" accept=".pdf">
                      </div>
                </div>

                <div class="row mb-3">
                    <label for="class_record" class="col-sm-3 col-form-label">Copy of Class Record</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" name="class_record" id="class_record" accept=".pdf">
                      </div>
                </div>

                <div class="row mb-3">
                    <label for="affidavit" class="col-sm-3 col-form-label">Notarized Affidavit for Change of Grade</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" name="affidavit" id="affidavit" accept=".pdf">
                      </div>
                </div>

                 <div class="row mb-3">
                <label for="user_responsible" class="col-sm-3 col-form-label">User Responsible </label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="user_responsible" name="user_responsible" required>
                            <option value="Director/Head of Academic Program">Director/Head of Academic Program</option>
                            <option value="CDO Cashier/Accounting Office">CDO Cashier/Accounting Office</option>
                            <option value="Registrar's Office">Registrar's Office</option>
                            <option value="Administrative, Staff Head of Admission and Registration Office.">Administrative, Staff Head of Admission and Registration Office.</option>
                            <option value="Director/ Head of Academic Program.">Director/ Head of Academic Program.</option>
                        </select>
                    </div>
            </div>

            <div class="row mb-3" style="display: none;">
                <label for="Status" class="col-sm-3 col-form-label">Status </label>
                <div class="col-sm-8">
                    <select class="custom-select" id="Status" name="Status" required>
                        <option value="pending" selected>Pending</option>
                        <option value="Approved" disabled>Approved</option>
                        <option value="Rejected" disabled>Rejected</option>
                    </select>
                </div>
            </div>

             <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Submit Application</button>
            </div>
        </form>   
    </div>
</div>

{% endblock content %}
    
