<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
	<title>Student Academic Support System</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="{{url_for('student_dashboard')}}" class="brand"><i class='bx bxs-smile icon'></i>SASS</a>
		<ul class="side-menu">
			<li class="divider" data-text="Home">Home</li>
			<li><a href="{{url_for('student_dashboard')}}" class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="Services">Services</li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Request Services <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="{{url_for('studentoverload')}}">Overload of Subjects</a></li>
					<li><a href="{{ url_for('studentaddingsubject')}}">Adding of Subjects</a></li>
					<li><a href="{{url_for('studentchange')}}">Change of Schedule/Subjects</a></li>
					<li><a href="{{url_for('studentcorrection')}}">Correction of Grade Entry</a></li>
					<li><a href="{{url_for('studentenrollment')}}">Cross-Enrollment</a></li>
					<li><a href="{{url_for('studentshifting')}}">Application for Shifting</a></li>
					<li><a href="{{url_for('studentmanualenrollment')}}">Manual Enrollment</a></li>
					<li><a href="{{url_for('studentpetition')}}"> Online Petition of Subjects</a></li>
					<li><a href="{{url_for('studenttutorial')}}">Online Request for Tutorial</a></li>
					<li><a href="{{url_for('studentcertification')}}">Request for Certification</a></li>

				</ul>
			</li>
			<li><a href="{{url_for('studenthistory')}}"><i class='bx bx-history icon' ></i>Transaction History</a></li>

			<li class="divider" data-text="Complaints">Complaints</li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Create Complaint</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Manage Complaint</a></li>
		</ul>
	</section>
	

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
			<!----	<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div> -->
			</form>
			<a href="#" class="nav-link" data-bs-toggle="dropdown" tabindex="-1" title="Notifications" aria-label="Show notifications" id="notification-icon">
				<i class='bx bxs-bell icon'></i>
				<span class="badge">4</span>
			</a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card" id="notification-card">
                  <div class="card"> 
                    <div class="list-group list-group-flush list-group-hoverable">
                      <div class="list-group-item">
                        <div class="row align-items-center">                          
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 1</a>
                            <div class="d-block text-secondary text-truncate mt-n1">
                              Change deprecated html tags to text decoration classes (#29604)
                            </div>
                          </div>
                          <div class="col-auto">                           
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 2</a>
                            <div class="d-block text-secondary text-truncate mt-n1">
                              justify-content:between ⇒ justify-content:space-between (#29734)
                            </div>
                          </div>
                          <div class="col-auto">                           
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 3</a>
                            <div class="d-block text-secondary text-truncate mt-n1">
                              Update change-version.js (#29736)
                            </div>
                          </div>
                          <div class="col-auto">                          
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 4</a>
                            <div class="d-block text-secondary text-truncate mt-n1">
                              Regenerate package-lock.json (#29730)
                            </div>
                          </div>                         
                        </div>
                      </div>
                      <div class="col-auto">  
                        <div class="text-right mt-2 mb-1">
                          <a href="#" class="text-right" id="see-all-notifications">See All Notifications</a>
                      </div>                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
			
		<!----	<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon'></i>
				<span class="badge">8</span> 
			</a> -->
			<span class="divider"></span>

			<div class="profile">
				<img src="/static/images/user.png" alt="" title="My Profile">
				<ul class="profile-link">
					<li><a href="{{url_for('studentprofile')}}"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="{{url_for('studentpassword')}}"><i class='bx bxs-cog' ></i> Change Password</a></li>
					<li><a href="{{url_for('logout')}}"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<main>
			{% block content %} {% endblock %}
		</main>
	</section>

	<script>
    // Function to close the notification card
function closeNotificationCard() {
    var notificationCard = document.getElementById('notification-card');
    if (notificationCard.classList.contains('show')) {
        notificationCard.classList.remove('show');
    }
}

// Add event listener to the notification icon
document.getElementById('notification-icon').addEventListener('click', function (event) {
    // Prevent the click event from propagating to the document body
    event.stopPropagation();
    
    // Toggle the visibility of the notification card
    document.getElementById('notification-card').classList.toggle('show');
});

// Add event listener to the document body to close the notification card on any click outside of it
document.body.addEventListener('click', closeNotificationCard);

// Add event listener to prevent the notification card from closing when clicking inside it
document.getElementById('notification-card').addEventListener('click', function (event) {
    event.stopPropagation();
});

  // JavaScript to show all notifications when "See All Notifications" is clicked
  document.getElementById('see-all-notifications').addEventListener('click', function (event) {
      // Prevent the link from navigating (you may adjust this behavior as needed)
      event.preventDefault();

      // Show all notifications by removing the 'd-none' class
      var notificationList = document.getElementById('notification-list');
      notificationList.classList.remove('d-none');
  });

        //STUDENT API
		const api_base_url = '{{ student_api_base_url | default("") }}';
		console.log('api_base_url: ', api_base_url)
	</script>

	{% block script %} {% endblock script %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{{ url_for('static', filename='js/script2.js')}}"></script>
</body>
</html>



