{% extends "student/layout.html" %}
{% block content %}
  
    <div class="data data1">
        <div class="content-data">
            <div class="head">
                <h3>Request for Manual Enrollment</h3>           
            </div>
            <form id="manualEnrollmentForm" action="{{ url_for('submitmanualenrollment') }}" method="POST" enctype="multipart/form-data">

                <div class="row mb-3">
                    <label for="StudentNumber" class="col-sm-3 col-form-label">Student Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="StudentNumber" name="StudentNumber" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="Name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Name" name="Name" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="enrollmentType" class="col-sm-3 col-form-label">Enrollment Type</label>
                        <div class="col-sm-8">
                            <select class="custom-select" id="enrollmentType" name="enrollmentType" required>
                                <option value="Regular">Regular</option>
                                <option value="Irregular">Irregular</option>
                                <option value="Special">Special</option>
                            </select>
                        </div>
                </div>

                <div class="row mb-4">
                    <label for="reason" class="col-sm-3 col-form-label">Reason</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" id="reason" name="reason" required></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="me_file" class="col-sm-3 col-form-label">Attach Files </label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" name="me_file" id="me_file" accept=".pdf">
                      </div>
                </div>

                <div class="row mb-3">
                    <label for="user_responsible" class="col-sm-3 col-form-label">User Responsible </label>
                        <div class="col-sm-8">
                            <select class="custom-select" id="user_responsible" name="user_responsible" required>
                                <option value="Faculty">Faculty Member/s</option>
                                <option value="Director/Head of Academic Program">Director/Head of Academic Program</option>
                                <option value="CDO Cashier/Accounting Office">CDO Cashier/Accounting Office</option>
                            </select>
                        </div>
                </div>
    
                <div class="row mb-3">
                    <label for="status" class="col-sm-3 col-form-label">Status </label>
                        <div class="col-sm-8">
                            <select class="custom-select" id="status" name="status" required>
                                <option value="Sent" selected>Sending</option>
                                <option value="Pending" disabled>Pending</option>
                                <option value="Approved" disabled>Approved</option>
                                <option value="Rejected" disabled>Rejected</option>
                            </select>
                        </div>
                </div>
    
                 <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Submit Application</button>
                </div>
  
{% endblock content %}

