{% extends "student/layout.html" %}
{% block content %}


<div class="data data2">
    <div class="content-data">
        <div class="head">
            <h3>Application for Overload of Subjects</h3>           
        </div>
        <form id="overloadApplicationForm" action="{{ url_for('submit_overload_applications')}}" method="POST" enctype="multipart/form-data">
          
            <div class="row mb-3">
                <label for="Name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label for="StudentNumber" class="col-sm-3 col-form-label">Student Number</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="StudentNumber" name="StudentNumber" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label for="date" class="col-sm-3 col-form-label">Application Date</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="date" name="date" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="ProgramCourse" class="col-sm-3 col-form-label">Program</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="ProgramCourse" name="ProgramCourse" required>
                            <option value ="">Select Program...</option>
                            <option value="BSIT">Bachelor of Science in Information Technology</option>
                            <option value="BBTLE_HE">Bachelor of Business Technology and Livelihood Education - Home Economics</option>
                            <option value="BBTLE_ICT">Bachelor of Business Technology and Livelihood Education - Information and Communication Technology</option>
                            <option value="BSBA_MM">Bachelor of Science in Business Administration - Marketing Management</option>
                            <option value="BSBA_HRM">Bachelor of Science in Business Administration - Human Resource Management</option>
                            <option value="BSE">Bachelor of Science in Entrepreneurship</option>
                            <option value="DOMT_MOM">Diploma in Office Management Technology - Medical Office Management</option>
                            <option value="BPA_PFM">Bachelor of Public Administration - Public Financial Management</option>
                        </select>
                    </div>
            </div>

            <div class="row mb-3">
                <label for="Semester" class="col-sm-3 col-form-label">Semester</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="Semester" name="Semester" required>
                            <option value="">Select Semester...</option>
                            <option value="First">First Semester</option>
                            <option value="Second">Second Semester</option>
                            <option value="Summer">Summer</option>
                        </select>
                    </div>
            </div>

            <div class="row mb-3">
                <label for="SubjectsToAdd" class="col-sm-3 col-form-label">Subjects to Add</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="SubjectsToAdd" name="SubjectsToAdd" required>
                </div>
            </div>

            <div class="row mb-4">
                <label for="Justification" class="col-sm-3 col-form-label">Justification for Overload <br> (State your Reason/s)</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="Justification" name="Justification" required></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label for="fileoverload" class="col-sm-3 col-form-label">Certificate of Registration <br> (Current Semester) </label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" name="fileoverload" id="fileoverload" accept=".pdf">
                  </div>
            </div>
            <div class="row mb-3">
                <label for="UserResponsible" class="col-sm-3 col-form-label">User Responsible </label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="UserResponsible" name="UserResponsible" required>
                            <option value="Associate Professor V">Director</option>
                            <option value="Associate Professor V">Head of Academic Program</option>
                            <option value="Associate Professor II">Administrative Staff ICT Office</option>
                        </select>
                    </div>
            </div>
            <div class="row mb-3" style="display: none;">
                <label for="Status" class="col-sm-3 col-form-label">Status </label>
                <div class="col-sm-8">
                    <select class="custom-select" id="Status" name="Status" required>
                        <option value="pending" selected>Pending</option>
                        <option value="Approved" disabled>Approved</option>
                        <option value="Rejected" disabled>Rejected</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Submit Application</button>|||
                
                <a href="{{ url_for('viewoverload') }}">View Overload Subject</a>|||
                
            </div>
        </form>
    </div>
</div>

{% endblock content %}














