{% extends "student/layout.html" %}
{% block content %}
  
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="handleAlertClose()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="data data1">
    <div class="content-data">
        <div class="head">
            <h3>Application for Overload of Subjects</h3>           
        </div>
        <form id="overloadApplicationForm" action="{{ url_for('submit_overload_application')}}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" class="application-form">
          
            <div class="row mb-3">
                <label for="StudentNumber" class="col-sm-3 col-form-label">Student Number</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="StudentNumber" name="StudentNumber" required onblur="getStudentNumber()" readonly>
                </div>
            </div>
           
            <div class="row mb-3">
                <label for="Name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label for="date" class="col-sm-3 col-form-label">Application Date</label>
                <div class="col-sm-8">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control" id="date" name="date" required>
                        <span class="input-group-append">
                            <span class="input-group-text bg-light d-block">
                                <i class='bx bxs-calendar icon'></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="programcourse" class="col-sm-3 col-form-label">Program</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="programcourse" name="programcourse" required>
                            <option value ="">Select Program...</option>
                            <option value="BSIT">Bachelor of Science in Information Technology</option>
                            <option value="BBTLE_HE">Bachelor of Business Technology and Livelihood Education - Home Economics</option>
                            <option value="BBTLE_ICT">Bachelor of Business Technology and Livelihood Education - Information and Communication Technology</option>
                            <option value="BSBA_MM">Bachelor of Science in Business Administration - Marketing Management</option>
                            <option value="BSBA_HRM">Bachelor of Science in Business Administration - Human Resource Management</option>
                            <option value="BSE">Bachelor of Science in Entrepreneurship</option>
                            <option value="DOMT_MOM">Diploma in Office Management Technology - Medical Office Management</option>
                            <option value="BPA_PFM">Bachelor of Public Administration - Public Financial Management</option>
                        </select>
                    </div>
            </div>

            <div class="row mb-3">
                <label for="semester" class="col-sm-3 col-form-label">Semester</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="semester" name="semester" required>
                            <option value="">Select Semester...</option>
                            <option value="First">First Semester</option>
                            <option value="Second">Second Semester</option>
                            <option value="Summer">Summer</option>
                        </select>
                    </div>
            </div>

            <div class="row mb-3">
                <label for="subjectsToAdd" class="col-sm-3 col-form-label">Subjects to Add</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="subjectsToAdd" name="subjectsToAdd" required>
                </div>
            </div>

            <div class="row mb-4">
                <label for="justification" class="col-sm-3 col-form-label">Justification for Overload <br> (State your Reason/s)</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="justification" name="justification" required></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label for="file" class="col-sm-3 col-form-label">Certificate of Registration <br> (Current Semester) </label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" name="file" id="file" accept=".pdf">
                  </div>
            </div>
    

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Submit Application</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block script %}
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
 //   $(document).ready(function () {
   //     $('#datepicker').datepicker({
     //       format: 'mm-dd-yyyy', // Adjust the format as needed
       //     autoclose: true,
        //});
    // });

    document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('date').value = flatpickr.formatDate(new Date(), 'm-d-y');

            flatpickr("#datepicker", {
                dateFormat: 'm-d-y',
                minDate: 'today', // Disable previous dates
                defaultDate: 'today',
                onClose: function (selectedDates, dateStr, instance) {
                    // Update the input value when the user selects a date
                    document.getElementById('date').value = dateStr;
                }
            });
        });

    // Fetch student details
    async function fetchStudentDetails() {
        try {
            const response = await fetch(`${api_base_url}/student-details`);

            if (!response.ok) {
                throw new Error(`Failed to fetch data. Server returned ${response.status}`);
            }

            const data_student_details = await response.json();
            console.log('data_student_details:', data_student_details);
            displayDetails(data_student_details);
        } catch (error) {
            console.error('Error fetching student details:', error.message);
        }
    }

    fetchStudentDetails();

    function displayDetails(data) {
        // Select the name input and set the value to data.studentName
        document.getElementById('Name').value = data.Name;
        // Select the StudentNumber and set the value to data.StudentNumber
        document.getElementById('StudentNumber').value = data.StudentNumber;
    }

    // Form submission logic
    $('#overloadApplicationForm').submit(function(event) {
        const StudentNumber = $('#StudentNumber').val().trim();
        const Name = $('#Name').val().trim();
        const programcourse = $('#programcourse').val();
        const semester = $('#semester').val().trim();
        const subjectsToAdd = $('#subjectsToAdd').val().trim();
        const justification = $('#justification').val().trim();

        // Additional validation logic
        if (!StudentNumber || !Name || !programcourse || !semester || !subjectsToAdd || !justification) {
            alert('Please fill out all fields and provide valid values.');
            event.preventDefault(); // Prevent form submission
        }
    });

    function validateForm() {
        var StudentNumber = document.getElementById('StudentNumber').value;
        var Name = document.getElementById('Name').value;
        var programcourse = document.getElementById('programcourse').value;
        var semester = document.getElementById('semester').value;
        var subjectsToAdd = document.getElementById('subjectsToAdd').value;

        if (!StudentNumber || !Name || !programcourse || !semester) {
            console.error('Error: Please fill out all required fields.');
            return false;
        }

        return true;
    }
</script>
{% endblock script %}













