{% extends "student/layout.html" %}

{% block content %}
<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
</style>

            <div class="form-container">
                <form action="{{url_for('studentprofile')}}" method="POST">

                    <label for="name">Student Number:</label>
                    <input type="text" id="studentNumber" name="studentNumber"  disabled required>
                    <br>

                    <label for="name" id="name-label">Name:</label>
                    <input type="text" id="name" name="name"  disabled required>
                    <br>

                    <label for="name">Gender:</label>
                    <input type="text" id="gender" name="gender"  disabled required>
                    <br>
            
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"  disabled required>
                    <br>
            
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address"  disabled>
                    <br>
            
                    <label for="dateofBirth">Date of Birth:</label>
                    <input type="date" id="dateofBirth" name="dateofBirth"  disabled>
                    <br>
            
                    <label for="placeofBirth">Place of Birth:</label>
                    <input type="text" id="placeofBirth" name="placeofBirth"  disabled>
                    <br>
            
                    <label for="mobileNumber">Mobile Number:</label>
                    <input type="tel" id="mobileNumber" name="mobileNumber"  disabled>
                    <br>
                </form>
            </div>           

{% endblock %}

{% block script %} 
<script>
    async function fetchStudentDetails() {
        const response = await fetch(`${api_base_url}/student-details`);

        if (!response.ok) {
        throw new Error(
            `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
        }

        const data_student_details = await response.json();
        console.log('data_student_details: ', data_student_details)
        displayDetails(data_student_details);
  }

  fetchStudentDetails()

  function displayDetails(data){
    // Select the name input and set the value to data.studentName
    document.getElementById("name").value = data.studentName
    // Select the studentNumber and set the value to data.studentNumber
    document.getElementById("studentNumber").value = data.studentNumber;
    // Select the gender and set the value to data.gender
    document.getElementById("gender").value = data.gender;
    // Select the email and set the value to data.email
    document.getElementById("email").value = data.email;
    // Select the address and set the value to data.address
    document.getElementById("address").value = data.address;
    // Select the dateOfBirth and set the value to data.dateOfBirth
    document.getElementById("dateofBirth").value = data.date_of_birth_formatted;
    // Select the placeOfBirth and set the value to data.placeOfBirth
    document.getElementById("placeofBirth").value = data.placeofBirth;
    // Select the mobileNumber and set the value to data.mobileNumber
    document.getElementById("mobileNumber").value = data.mobileNumber;

    document.getElementById('name-label').innerText = data.studentName; 
  }
</script>{% endblock script %}

<!-- 1st Step Make a script that will request in the server -->

<!-- 2nd Get the data  -->
