{% extends "student/layout.html" %}
{% block content %}

<div class="data data1">
   
    <div class="content-data">
        <div class="head mb-5">
            <h3>Student's Profile</h3>           
        </div>
        <form action="{{ url_for('student_update_profile') }}" id="profileForm" method="POST" onsubmit="updateStudentProfile(event)">
            <div class="form-group">
              <label for="StudentNumber" class="col-sm-2 control-label">Student Number</label>
              <div class="col-sm-4">
                <input type="text" class="form-control"  id="StudentNumber" name="studentNumber" disabled>
              </div>
              <label for="DateofBirth" class="col-sm-2 control-label">Date of Birth</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="DateofBirth" id="DateofBirth" required="required" disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="Name" class="col-sm-2 control-label">Name</strong></label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="Name" id="Name" required="required" class="form-control" disabled>
              </div>   
              <label for="PlaceofBirth" class="col-sm-2 col-sm-2 control-label">Place of Birth</strong></label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="PlaceofBirth" id="PlaceofBirth" required="required" class="form-control" disabled>
              </div>
            </div>

            <div class="form-group">
            <label for="Gender" class="col-sm-2 col-sm-2 control-label">Gender</strong></label>
              <div class="col-sm-4">
               <input type="text" class="form-control" name="Gender" id="Gender" required="required" class="form-control" disabled> 
              </div>
              <label for="Email" class="col-sm-2 col-sm-2 control-label">Email Address</strong></label>
              <div class="col-sm-4">
                <input type="email" name="Email" id="Email" class="form-control" required>
              </div>
            </div>          
            <div class="form-group">
            <label for="MobileNumber" class="col-sm-2 col-sm-2 control-label">Contact Number</strong></label>
            <div class="col-sm-4">
              <input type="text"  name="MobileNumber" id="MobileNumber" required="required" maxlength="11" pattern="\d{11}" class="form-control">
            </div>
              <label for="address" class="col-sm-2 col-sm-2 control-label">Address</strong></label>
              <div class="col-sm-4">
              <input  name="address" id="address" required="required" class="form-control">
             </div>              
            </div>

            <div class="form-group">
              <div class="col-sm-11 text-center">
                <div class="pt-3 pl-4">
              <!---    <span><i>I hereby Certify that all the information provided are true and correct to the best of my knowledge.</i></span> -->
                </div>
              
                <div class="col-sm-13 d-flex justify-content-center">
                  <button type="submit" class="btn btn-success">Save Profile</button>
                </div>
              </div>
            </div>       
          </form>
    </div>
</div>

{% endblock content %}

