{% extends "student/layout.html" %} {% block content %}

<div class="data data1">
  <div class="content-data">
    <table>
        <thead>
            <tr>
                <th>Notification ID</th>
                <th>Service Type</th>
                <th>User Responsible</th>
                <th>Status</th>
                <th>Message</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>{{ notification.NotificationId }}</td>
                <td>{{ notification.ServiceType }}</td>
                <td>{{ notification.UserResponsible }}</td>
                <td>{{ notification.Status }}</td>
                <td>{{ notification.Message }}</td>
                <td>{{ notification.created_at }}</td>
                <td>{{ notification.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock content %}
