{% extends "student/layout.html" %}

{% block content %}
    <h1>Application for Shifting</h1>
    <p>Process requests for students who intend to shift to another program in the University. Students must have one (1) year residency from the current program to qualify for shifting to another program. Application for shifting shall be accomplished prior to the start of the next academic school year. Qualifications may vary depending on the program to which the student intends to shift.</p>

    <br>
    <p><a href="{{url_for('download_Accreditation')}}">Download Application file for Accreditation of Shiftees & Regular</a></p>
    <br>

    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <br>

    <h2>Application Form</h2>
    <form id="shiftingForm" action="{{ url_for('submit_shifting')}}" method="POST" enctype="multipart/form-data">
        <label for="StudentNumber">Student number:</label><br>
        <input type="text" id="StudentNumber" name="StudentNumber" required><br><br>

        <label for="Name">Student Name:</label><br>
        <input type="text" id="Name" name="Name" required><br><br>

        <label for="currentProgram">Current Program:</label><br>
        <input type="text" id="currentProgram" name="currentProgram" required><br><br>

        <label for="residencyYear">Years of Residency in Current Program:</label><br>
        <input type="number" id="residencyYear" name="residencyYear" required><br><br>

        <label for="intendedProgram">Intended Program:</label><br>
        <input type="text" id="intendedProgram" name="intendedProgram" required><br><br>

        <label for="qualifications">Qualifications for Shifting (if any):</label><br>
        <textarea id="qualifications" name="qualifications" rows="4" cols="50"></textarea><br><br>

        <label for="fileshifting">Attach Supporting Document:</label><br>
        <input type="file" id="fileshifting" name="fileshifting"><br><br>

        <label for="user_responsible">User Responsible:</label>
        <select id="user_responsible" name="user_responsible" required>
            <option value="CDO Cashier/Accounting Office.">
                CDO Cashier/Accounting Office.
            </option>
            <option value="Administrative, Staff Head of Admission and Registration Office.">Administrative, Staff Head of Admission and Registration Office.</option>
            <option value="Director/ Head of Academic Program.">Director/ Head of Academic Program.</option>
        </select><br><br>

    
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="Sent" selected>Sending</option>
            <option value="Pending" disabled>Pending</option>
            <option value="Approved" disabled>Approved</option>
            <option value="Rejected" disabled>Rejected</option>
        </select><br><br>


        <button type="submit">Submit Application</button>
    </form>

    <script>
        const form = document.getElementById('shiftingForm');
        form.addEventListener('submit', function(event) {
            const StudentID = document.getElementById('StudentID').value.trim();
            const Name = document.getElementById('Name').value.trim();
            const currentProgram = document.getElementById('currentProgram').value.trim();
            const residencyYear = document.getElementById('residencyYear').value.trim();
            const intendedProgram = document.getElementById('intendedProgram').value.trim();

            if (!StudentID || !Name || !currentProgram || !residencyYear || !intendedProgram) {
                alert('Please fill out all required fields.');
                event.preventDefault();
            }
            // Additional validation logic can be added here if needed
        });
    </script>
{% endblock content %}

{% block script %}
 <script>
    // Fetch student details
    async function fetchStudentDetails() {
        try {
            const response = await fetch(`${api_base_url}/student-details`);

            if (!response.ok) {
                throw new Error(`Failed to fetch data. Server returned ${response.status}`);
            }

            const data_student_details = await response.json();
            console.log('data_student_details:', data_student_details);
            displayDetails(data_student_details);
        } catch (error) {
            console.error('Error fetching student details:', error.message);
        }
    }

    fetchStudentDetails();

    function displayDetails(data) {
        // Select the name input and set the value to data.studentName
        document.getElementById('Name').value = data.Name;
        // Select the StudentNumber and set the value to data.StudentNumber
        document.getElementById('StudentNumber').value = data.StudentNumber;
    }
 </script>
{% endblock script %}
