{% extends "student/home.html" %}

{% block services %}

    <h1>Online Request for Tutorial of Subject</h1>
    <p>Process online requests for the tutorial of a subject not offered for the current semester. A retake of a subject by less than the minimum (35) number of students shall be endorsed by the Director/Head of Academic Program to the Office of the Vice President for Branches and Campuses for approval as a tutorial.</p>

    <h2>Checklist of Requirements:</h2>
    <ul>
        <li>Online Petition of Subject from <a href="https://sis1.pup.edu.ph/">https://sis1.pup.edu.ph/</a></li>
    </ul>

    <h2>Request Form</h2>
    <form action="#" method="post">
        <label for="studentID">Student ID:</label><br>
        <input type="text" id="studentID" name="studentID" required><br><br>

        <label for="studentName">Student Name:</label><br>
        <input type="text" id="studentName" name="studentName" required><br><br>

        <label for="subjectCode">Subject Code:</label><br>
        <input type="text" id="subjectCode" name="subjectCode" required><br><br>

        <label for="subjectName">Subject Name:</label><br>
        <input type="text" id="subjectName" name="subjectName" required><br><br>

        <label for="onlinePetitionLink">Online Petition Link:</label><br>
        <input type="url" id="onlinePetitionLink" name="onlinePetitionLink" required><br><br>

        <button type="submit">Submit Request</button>
    </form>
{% endblock %}
