{% extends "faculty/layout.html" %}

{% block content %}
<style>
    /* Add DataTables styles */
    table {
        width: 90%;
        border: 1px;
        margin-top: 20px;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>

<h1>Change of Subjects changesubjectss</h1>

<table id="changeOfSubjectsTable" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student Number</th>
            <th>Name</th>
            <th>Enrollment Type</th>
            <th>ACE Form File</th>
            <th>Created At</th>
            <th>User Responsible</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for changesubjects in changesubjects %}
            <tr>
                <td>{{ changesubjects.Changesubject_ID }}</td>
                <td>{{ changesubjects.StudentNumber }}</td>
                <td>{{ changesubjects.Name }}</td>
                <td>{{ changesubjects.enrollment_type }}</td>
                <td>{% if changesubjects.ace_form_data %}
                    <a href="{{ url_for('get_change_file', Changesubject_ID=changesubjects.Changesubject_ID) }}" class="btn btn-success" download>{{ changesubjects.ace_form_filename }}</a>
                {% else %}
                    <span class="badge badge-warning">No File</span>
                {% endif %}</td>
                <td>{{ changesubjects.created_at }}</td>
                <td>{{ changesubjects.user_responsible }}</td>
                <td>{{ changesubjects.status }}</td>
                <td> <button class="btn btn-primary" data-toggle="modal" data-target="#statusModal{{ changesubjects.Changesubject_ID }}">Change Status</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Include DataTables script -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script>
    // Initialize DataTable
    $(document).ready(function() {
        $('#changeOfSubjectsTable').DataTable();
    });
     // Function to update status
  function updateStatus(Changesubject_ID) {
    const formId = `statusForm${Changesubject_ID}`;
    const form = document.getElementById(formId);
    const formData = new FormData(form);

    fetch('/faculty/change', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        alert(data.message);
        location.reload(); // Reload the page after successful update
      })
      .catch(error => {
        console.error('Error updating status:', error);
      });
  }
</script>
{% endblock %}
