<!-- templates/faculty/profile.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Profile</title>
  </head>
  <body>
    <div>
      <h2>Welcome to Faculty Home</h2>
      <div class="div">
        <ul>
          <li><hr class="dropdown-divider"/></li>
          <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </div>

      <div id="profile-data"></div>
    </div>

    <!-- SCRIPT FOR INTERACTING WITH THE BACKEND OR API -->
 
  </body>
</html>
