{% extends "main/base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for ('static', filename='/css/portal.css')}}">

<section>           
        <div class="box">   
            <div class="inner-box">    
                <div class="forms-wrap">
                    <form action="{{ url_for('faculty_api.faculty_login') }}" name="form" method="POST" autocomplete="off" class="sign-in-form"
            
    
     
                    >
                        <div>

                            <h1>SASS</h1>
                        </div>

                        <div class="actual-form">                           
                            <div class="input-wrap-text">
                                <input id="email" type="text" name="email" class="input-field" autocomplete="off" required>
                                <label>Enter your Email</label>
                            </div>
                            <div class="input-wrap">
                                <input id="password"  title="password" type="password"  maxlength="20" name="password" class="input-field" autocomplete="off" required>
                                <label>Password</label>
                            </div>
                            <p class="text text-password">
                               <a href="../Faculty/forgotpassword">Forgot Password?</a>
                            </p>
                            <input class="sign-btn btn btn-danger" id="btn" type="submit" name="submit" value="Sign-in">
                            {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="messages text-red-500">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
                            <p class="text">
                                By signing up, I agree to the PUP Online Services
                                <a href="https://www.pup.edu.ph/terms/" target="_blank" rel="noopener noreferrer">Terms of Services</a> and
                                <a href="https://www.pup.edu.ph/privacy/" target="_blank" rel="noopener noreferrer">Privacy Statement</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="carousel">
                 <!----   <div class="images-wrapper">
                        <img src="../img/complaints.png" class="image img-1 show" alt="">
                        <img src="../img/school.jpg" class="image img-2" alt="">
                        <img src="../img/pup.jpg" class="image img-3" alt="">
                    </div> -->
                </div>
            </div>
        </div>
</section>    
   
{% endblock %}


{% block script %}
  
{% endblock script %}