{% extends "faculty/layout.html" %}

{% block content %}
<div class="form-step form-step-active">
  <div class="data data1" id="firstTableContainer">
    <div class="content-data">
      <div class="head mb-3">
          <h2>Petition Request</h2>
      </div>
      <table id="changeSubjects" class="table table-bordered table-condensed display">
  <thead>
            <tr>
                <th>Application ID</th>
                <th>Student Number</th>
                <th>Name</th>
                <th>Subject Code</th>
                <th>Subject Name</th>
                <th>Petition Type</th>
                <th>Request Reason</th>
                <!-- <th>Created At</th> -->
                <th>User Responsible</th>
                <th>Status</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for request in petition_requests %}
            <tr>
                <td>{{ request.PetitionId }}</td>
                <td>{{ request.StudentNumber }}</td>
                <td>{{ request.Name }}</td>
                <td>{{ request.SubjectCode }}</td>
                <td>{{ request.SubjectName }}</td>
                <td>{{ request.PetitionType }}</td>
                <td>{{ request.RequestReason }}</td>
                <!-- <td>{{ request.created_at }}</td> -->
                <td>{{ request.UserResponsible }}</td>
                <td>{{ request.Status }}</td>
                <!-- <td>Action buttons like edit or update status</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Include DataTables script -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script>

$(document).ready(function() {
    $('#petitionTable').DataTable({
        "pageLength": 5
    });
});

  // Function to update status
  function updateStatus(PetitionId) {
    const formId = `statusForm${PetitionId}`;
    const form = document.getElementById(formId);
    const formData = new FormData(form);

    fetch('/faculty/petition', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        alert(data.message);
        location.reload(); // Reload the page after successful update
      })
      .catch(error => {
        console.error('Error updating status:', error);
      });
  }
</script>

{% endblock %}
