{% extends "faculty/layout.html" %}

{% block content %}

<!-- Existing HTML Content ... -->

<div class="data data1">
    <div class="content-data">
        <div class="head">
            <h3>Faculty Profile</h3>           
        </div>
        <!-- Profile Form -->
        <form id="profileForm" method="POST" onsubmit="updateFacultyProfile(event)">
            <!-- Other form fields... -->

            <!-- Faculty Type and BirthDate -->
            <div class="form-group">
              <!-- Faculty Type -->
              <label for="FacultyType" class="col-sm-2 control-label">Faculty Type</label>
              <div class="col-sm-4">
                <input type="text" id="FacultyType" name="FacultyType" required="required" class="form-control" disabled>
              </div>
              <!-- BirthDate -->
              <label for="BirthDate" class="col-sm-2 control-label">Date of Birth</label>
              <div class="col-sm-4">
                <input type="text" name="BirthDate" id="BirthDate" required="required" class="form-control" disabled>
              </div>
            </div>

            <!-- Name and Residential Address -->
            <div class="form-group">
              <!-- Name -->
              <label for="Name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-4">
                <input type="text" name="Name" id="Name" required="required" class="form-control" disabled>
              </div>   
              <!-- Residential Address -->
              <label for="ResidentialAddress" class="col-sm-2 control-label">Residential Address</label>
              <div class="col-sm-4">
                <input type="text" name="ResidentialAddress" id="ResidentialAddress" required="required" class="form-control" disabled>
              </div>
            </div>

            <!-- Gender and Email -->
            <div class="form-group">
              <!-- Gender -->
              <label for="Gender" class="col-sm-2 control-label">Gender</label>
              <div class="col-sm-4">
               <input type="text" name="Gender" id="Gender" required="required" class="form-control" disabled> 
              </div>
              <!-- Email -->
              <label for="Email" class="col-sm-2 control-label">Email Address</label>
              <div class="col-sm-4">
                <input type="Email" name="Email" id="Email" required="required" class="form-control">
              </div>
            </div>

            <!-- Mobile Number -->
            <div class="form-group">
              <label for="MobileNumber" class="col-sm-2 control-label">Contact Number</label>
              <div class="col-sm-4">
                <input type="text"  name="MobileNumber" id="MobileNumber" required="required" maxlength="11" pattern="\d{11}" class="form-control">
              </div>
            </div>  
        </form>
    </div>
</div>

{% endblock %}

