{% extends "faculty/layout.html" %}

{% block content %}

<div class="form-step form-step-active">
    <div class="data data1" id="firstTableContainer">
      <div class="content-data">
        <div class="head mb-3">
            <h2>tutorial Request</h2>
        </div>
        <table id="changeSubjects" class="table table-bordered table-condensed display">
    <thead>
            <tr>
                <th>ID</th>
                <th>Student Number</th>
                <th>Name</th>
                <th>Subject Code</th>
                <th>Subject Name</th>
                <th>File</th>
                <th>Created At</th>
                <th>User Responsible</th>
                <th>Status</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for request in tutorial_requests %}
            <tr>
                <td>{{ request.TutorialId }}</td>
                <td>{{ request.StudentNumber }}</td>
                <td>{{ request.Name }}</td>
                <td>{{ request.SubjectCode }}</td>
                <td>{{ request.SubjectName }}</td>
                <td>
                    {% if request.Tutorialdata %}
                        <a href="{{ url_for('get_tutorial_file', tutorial_request_id=request.TutorialId) }}">Download</a>
                    {% else %}
                        No File
                    {% endif %}
                </td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.UserResponsible }}</td>
                <td>{{ request.Status }}</td>
                <!-- <td> Action buttons like edit or update status </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
