{% extends "faculty/layout.html" %}

{% block content %}
<div>
    <h1>Tutorial Requests</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Number</th>
                <th>Name</th>
                <th>Subject Code</th>
                <th>Subject Name</th>
                <th>File</th>
                <th>Created At</th>
                <th>User Responsible</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for request in tutorial_requests %}
            <tr>
                <td>{{ request.tutorial_request_id }}</td>
                <td>{{ request.StudentNumber }}</td>
                <td>{{ request.Name }}</td>
                <td>{{ request.subject_code }}</td>
                <td>{{ request.subject_name }}</td>
                <td>
                    {% if request.file_data %}
                        <a href="{{ url_for('get_tutorial_file', tutorial_request_id=request.tutorial_request_id) }}">Download</a>
                    {% else %}
                        No File
                    {% endif %}
                </td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.user_responsible }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <!-- Action buttons like edit or update status -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
