{% extends "main/base.html" %} 

{% block content %}
<div class="Box">
    <div class="box1">
        <h1 class="header header animate__bounceIn mt-3">Announcements</h1>

        {% if announcements %}
        <div id="carouselExampleControls" class="carousel">
            <div class="carousel-inner">
                {% for announcement in announcements %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                    {% endif %}
                    <div class="card">
                        {% if announcement.ImageUrl %}
                            <img src="{{ announcement.ImageUrl }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ announcement.Title }}</h5>

                            <p class="card-text">
                                <small class="text-muted">
                                    {{ announcement.Updated.strftime('%m/%d/%Y %H:%M:%S') }}
                                </small>
                            </p>
                                                      
                            <div id="announcementCollapse{{ loop.index }}" class="collapse">
                                <div class="card-text announcementCard">
                                    {{ announcement.Content | safe }}
                                </div>
                            </div>
                            <input type="hidden" class="content" value="{{ announcement.Content }}">
                            <a href="#" class="btn learn-more-btn" data-toggle="collapse" data-target="#announcementCollapse{{ loop.index }}" onclick="toggleCollapse('{{ loop.index }}')">
                                Learn More...
                            </a>
                        </div>
                    </div>
                    {% if loop.index0 % 3 == 2 or loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No announcements available.</p>
        {% endif %}
    </div>
</div>

<script>
    // Retrieve all elements with class name 'announcementCard' and 'content'
    const announcementCards = document.querySelectorAll(".announcementCard");
    const contentInputs = document.querySelectorAll(".content");

    // Function to toggle collapse manually
    function toggleCollapse(index) {
        const collapseElement = document.getElementById("announcementCollapse" + index);
        const isCollapsed = collapseElement.classList.contains("show");
        
        if (isCollapsed) {
            // Change "See Less" to "Learn More" when collapsing
            document.querySelector(`[data-target="#announcementCollapse${index}"]`).innerHTML = "Learn More";
            collapseElement.classList.remove("show");
        } else {
            // Change "Learn More" to "See Less" when expanding
            document.querySelector(`[data-target="#announcementCollapse${index}"]`).innerHTML = "See Less";

            // Scroll to the bottom of the expanded content
            const contentBottom = collapseElement.offsetTop + collapseElement.scrollHeight;
            window.scrollTo({ top: contentBottom, behavior: "smooth" });

            collapseElement.classList.add("show");
        }
    }

    // Iterate over each element and set its innerHTML
    announcementCards.forEach((announcementCard, index) => {
        const contentValue = contentInputs[index].value;
        announcementCard.innerHTML = contentValue;
    });
</script>

{% endblock %}
