{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Application for Change of Enrollment (Adding of Subjects)</h4>
            <p>
                Process request for application for change of enrollment specifically for adding of subjects.
                This is both for <strong>regular</strong> and <strong>irregular</strong> students of the University and is done during the adjustment period.
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Accomplished and printed copy of ACE form (Adding of Subject) downloadable from <a class="link" href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >www.pup.edu.ph/downloads/students/</a>
                </li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td><strong>1.</strong> Go to the Director/Head of Academic Programs for signature and tagging of subject.</td> 
                                <td><strong>1.1</strong> Accept, evaluate, and sign the ACE form (Adding of Subject). <br> <br>
                                    <strong>1.2</strong> Tag the subject/s indicated in the ACE form (Adding of Subjects).
                                </td>
                                <td>None</td>
                                <td>8 Minutes</td>
                                <td>Director/Head of Academic Program</td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Proceed to Cashier's Office to pay the assessed fee (for students not covered by R.A. 10931).</td>
                            <td><strong>2.1</strong> Accept payment and issue official receipt.</td>
                            <td>&#8369; 30.00</td>
                            <td>4 Minutes</td>
                            <td>CDO Cashier/Accounting Office</td>
                          </tr>
                          <tr>
                            <td><strong>3.</strong> Submit the Original Copy of ACE Form (Adding of Subjects) to Director/Head of Academic Program.</td>
                            <td><strong>3.1</strong> Accept the fully accomplished ACE form. <br> <br> <br>
                                <strong>3.2</strong> Submit to Registrar's Office. </td>
                            <td>None</td>
                            <td>4 Minutes</td>
                            <td>Director/Head of Academic Program <br> <br>
                                Registrar's Office</td>
                          </tr> 
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_addingofsubjects')}}">Goto adding transaction</a></td>
                          </tr>                    
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}