{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Application for Change of Enrollment (Change of Schedule/Subjects)</h4>
            <p>
              Process request for application for change of enrollment specifically for change of schedule or subject/s. This is both
              for <strong>regular</strong> and <strong>irregular</strong> student of the University and is done during the adjustment period. 
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Accomplished and printed copy of ACE form (Change of Schedule/Subject) downloadable from this <a  href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >link.</a>
                </li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td>Submit
                                  accomplished
                                  request form
                                  </td> 
                                <td><p>1.1
                                  Accept request
                                  form
                                  </p>
                                <p>1.2 Log request in
                                  the logbook
                                  </p>
                              <p>1.3 Issue claim
                                stub to the
                                client
                                </p></td>
                                <td>None</td>
                                <td>5 minutes</td>
                                <td>Receiving Staff
                                  Registrar's Office/
                                  Student Services
                                  </td>                    
                          </tr>
                          <tr>
                            <td>2. Present
                              stub
                              claim 
                              </td>
                            <td><p>2.1 Submit request
                              to the
                              Registrar
                              </p>
                            <p>2.2 Process
                              requested
                              document
                              </p>
                          <p>2.3 Forward
                            document to
                            the Director/
                            Head of
                            Academic
                            Program for
                            signature
                            </p>
                        <p>2.4 Issue
                          requested
                          document
                          </p></td>
                            <td>
                              None
                            </td>
                            <td>31 Minutes</td>
                            <td><p>Receiving Staff
                              Registrar's Office
                              </p>
                            <p>Administrative Staff
                              Director/ Head of
                              Academic Program
                              </p>
                          <p>Administrative Staff
                            Registrar's Office
                            </p></td>
                          </tr>
                          <tr>
                            <td>3.
                              Acknowledge
                              receipt of the document
                              </td>
                            <td>Give logbook for
                              the client to sign
                              </td>
                            <td>None</td>
                            <td>5 minutes</td>
                            <td>Administrative Staff
                              Registrars Office</td>
                          </tr>                     
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}