{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Request for Certification (Grades, Bonafide Student, General Weighted Average)</h4>
            <p>
             Process request for Certification of Student and Alumni. The Certification is based on the records available of the respective colleges.
             These certification are issued for evaluation purposes and not a substitute to the Official Transcript of Record issued by the University Registar. 
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
              <li>Accomplished Request Form from Respective Branch/Campus Offices.</li>
              <li>Identification Card (ID).</li>
              <li>If <strong>Representative:</strong> <br> &nbsp;
                  - Authorization Letter and Identification Card (ID) if claimant is not the owner of the document.
              </li>
                
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                            <td><strong>1.</strong> Submit Accomplished Request Form.</td> 
                            <td><strong>1.1</strong> Accept Request Form. <br> <br>
                                <strong>1.2</strong> Log request in the logbook. <br> <br>
                                <strong>1.3</strong> Issue claim stub to the client. 
                            </td>
                                <td>None</td>
                                <td>5 minutes</td>
                                <td>Receiving Staff Registrar's Office/Student Services</td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Present stub claim.</td>
                            <td><strong>2.1</strong> Submit request to the Registrar.  <br> <br> <br>
                                <strong>2.2</strong> Process requested document. <br> <br>
                                <strong>2.3</strong> Forward document to the Director/Head of Academic Program for signature. <br> <br>
                                <strong>2.4</strong> Issue requested document.
                            </td>
                            <td>
                              None
                            </td>
                            <td>31 Minutes</td>
                            <td>Receiving Staff Registrar's Office/Student Services Office <br> <br>
                                Receiving Staff Registrar's Office <br> <br>
                                Administrative Staff Director/ Head of Academic Program <br> <br>
                                Administrative Staff Registrar's Office
                            </td>
                          </tr>
                          <tr>
                            <td><strong>3.</strong> Acknowledge receipt of the document.</td>
                            <td><strong>3.1</strong> Give logbook for the client to sign.</td>
                            <td>None</td>
                            <td>5 minutes</td>
                            <td>Administrative Staff Registrars Office</td>
                          </tr>   
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_certification')}}">GOTO Certification</a></td>
                          </tr>                  
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}