{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Application for Change of Enrollment (Change of Schedule/Subjects)</h4>
            <p>
              Process request for application for change of enrollment specifically for change of schedule or subject/s. This is both
              for <strong>regular</strong> and <strong>irregular</strong> student of the University and is done during the adjustment period. 
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Accomplished and printed copy of ACE form (Change of Schedule/Subject) downloadable from <a class="link"  href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >www.pup.edu.ph/downloads/students/</a>
                </li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td><strong>1.</strong> Go to the Faculty Member/s assigned to the subject/s to be enrolled for  release from and acceptance of the class.</td> 
                                <td><strong>1.1</strong> Accept and sign the ACE Form (Change of Schedule/Subjects). <br> <br>
                                    <strong>1.2</strong> Tag the subject/s indicated in the ACE Form (Change of Schedule/Subject).</td>
                                <td>None</td>
                                <td>3 days, 1 hour, and 18 Minutes</td>
                                <td>Faculty Member/s Assigned Room/s based on Teaching Assignment of Faculty Room</td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Go to the Director/Head of Academic Program for signature and tagging.</td>
                            <td><strong>2.1</strong> Accept, evaluate, and sign the ACE Form (Change of Schedule/Subject).</td>
                            <td>None</td>
                            <td>10 Minutes</td>
                            <td>Director/Head of Academic Program</td>
                          </tr>
                          <tr>
                            <td><strong>3.</strong> Proceed to Cashier's Office to pay the assessed fee (for students not covered by R.A. 10931).</td>
                            <td><strong>3.1</strong> Accept payment and issue official receipt.</td>
                            <td>&#8369; 30.00</td>
                            <td>10 Minutes</td>
                            <td>CDO Cashier/Accounting Office</td>
                          </tr> 
                          <tr>
                            <td><strong>4.</strong> Submit the Original Copy of ACE Form (Change of Schedule/Subjects) to Director/Head of Academic Program</td>
                            <td><strong>4.1</strong> Accept the fully accomplished ACE Form. <br> <br>
                                <strong>4.2</strong> Submit the ACE form to the Registrar's Office.</td>
                            <td>None</td>
                            <td>5 Minutes <br> <br> <br> 5 Minutes</td>
                            <td>Director/Head of Academic Program <br> <br> <br>
                            Registrar's Office</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_changesubsched')}}">GOTO Change of Sched / Subs</a></td>
                          </tr>                      
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}