{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Application for Cross Enrollment</h4>
            <p>
              Process request for cross-enrollment os subjects not offered for the current semester in the branch/campus. 
              Permission must be obtained from the University Registrar indicating the total number of units and the subject/s that the 
              student is authorized to take from other school.
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Application Letter for Cross-Enrollment.</li>
                <li>Permit to Cross-Enroll from Office of the University Registrar.</li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td><strong>1.</strong> Submit application letter for Cross-enrollment.</td> 
                                <td><strong>1.1</strong> Evalute letter provided by the student. <br> <br>
                                    <strong>1.2</strong> Approve/deny request for cross-enrollment. <br> <br>
                                    <strong>1.3</strong> If approved, recomment cross-enrollment and advise student to proceed to the Registrar's Office.
                                </td>
                                <td>None</td>
                                <td>7 Minutes</td>
                                <td>Director/Head of Academic Program Assistant to the VP for Branches and Campuses Second Floor, South Wing Administrative Building</td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Present recommendation to the campus registrar.</td>
                            <td><strong>2.1</strong> Approve Cross-Enrollment. <br> <br>
                                <strong>2.2</strong> Issue permit to Cross-Enrollment. <br> <br>
                                <strong>2.3</strong> Advise student to process the permit to the University where student intends to cross-enroll.
                            </td>
                            <td>None</td>
                            <td>4 Minutes</td>
                            <td>Branch/Campus Registrar</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_crossenrollment')}}">Goto transaction</a></td>
                          </tr>                   
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}