{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Application for Correction of Grade Entry, Late, Reporting of Grades, and Removal of Incomplete Mark</h4>
            <p>
              Correction of entry shall be accomplished within a period of one semester upon receipt of grade and the Late Reporting of Grades
              Form shall be accomplished within a period of one(1) year. Incomplete(Inc.) is temporarily given to a student who may pass the subject.
              but who has not yet complied with all its requirements. Such requirement(s) shall be satisfied within one year from the end of the term; otherwise,
              the grade shall lapse intro "No Credit(N) or a failing grade."
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Completion Form (3 original copies) downloadable from <a class="link"  href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >www.pup.edu.ph/downloads/students/</a>      
                </li>
                <li>Copy of Class Record.</li>
                <li>Notarized Affidavit for Change of Grade of professor (for correction of entry/late reporting of grade).</li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td><strong>1.</strong> Proceed to Cashier's Office to pay the assessed fee.</td> 
                                <td><strong>1.1</strong> Accept payment and issue official receipt.</td>
                                <td>&#8369; 30.00</td>
                                <td>8 Minutes</td> 
                                <td>CDO Cashier/Accounting Office</td>                   
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Submit the filled-out Completion Form and official receipt to the professor
                              for completion of the geades for the subject.
                            </td>
                            <td><strong>2.1</strong> Evaluate the requirement/s, compute and give the grade to the student. <br> <br> <br>
                                <strong>2.2</strong> Provide Notarized Affidavit for Change of Grade (for correction of entry/late reporting of grade). <br> <br> <br>
                                <strong>2.3</strong> Submit accomplished completion form, class record, and student's requirement/s to Director/Head of Academic Program for signature. <br> <br>
                                <strong>2.4</strong> Sign the Completion Form. <br> <br>
                                <strong>2.5</strong> Log and forward all the requirements to the Registrar's Office. <br> <br>
                                <strong>2.6</strong> Sign the Completion Form and tag the accomplished grade to SIS. <br> <br>
                                <strong>2.7</strong> Return one (1) copy of Completion Form to the concerned Director/Head of Academic Program for the copy of the Student.
                            </td>
                            <td>None</td>
                            <td>3 days, 1 hour, and 23 Minutes</td>
                            <td>Faculty Member/s Assigned Room/s based on Teaching Assignment or Faculty Room <br> <br>
                              Faculty Member/s Assigned Room/s based on Teaching Assignment or Faculty Room <br> <br>
                              Faculty Member/s Assigned Room/s based on Teaching Assignment or Faculty Room <br> <br>
                              Director Head of Academic Program <br> <br>
                              Registrar's Office <br> <br> <br>
                              Registrar's Office <br> <br> <br>
                              Director/Head of Academic
                            </td>
                          </tr>   
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_gradeentry')}}">Goto Grade entry </a></td>
                          </tr>                     
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}