{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Manual Enrollment</h4>
            <p>
              This service is both for <strong>regular</strong> and <strong>irregular</strong> students of the University and is done during
              the adjustment period. This happens when the student fails to enroll during online registration period set by th University.
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Accomplished and printed copy of R0 Form downloadable from this <a class="link" href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >www.pup.edu.ph/downloads/students/</a>
                </li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td><strong>1.</strong> Go to the Faculty member/s assigned to the subject's to be enrolled for acceptance to the class.</td> 
                                <td><strong>1.1</strong> Accept and sign the R0 form.</td>
                                <td>None</td>
                                <td>3 days and 52 minutes</td>
                                <td>Faculty Member/sAssigned Room/s based on Teaching Assignment</td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Go to the Director/Head of Academic Program for signature and tagging.</td>
                            <td><strong>2.1</strong> Accept, evaluate, and sign the R0 form. <br> <br>
                                <strong>2.2</strong> Tag the subject's indicated in the R0 Form.
                            </td>
                            <td>None</td>
                            <td>12 minutes</td>
                            <td>Director/ Head of
                              Academic Program</td>
                          </tr>
                          <tr>
                            <td><strong>3.</strong> Proceed to Cashier's Office to pay the assessed fee (for students not covered by RA. 10931)</td>
                            <td><strong>3.1</strong> Accept payment and issue official receipt.</td>
                            <td>Tuition Fee</td>
                            <td>8 minutes</td>
                            <td>CDO Cashier/Accounting Office</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_enrollment')}}">Goto transaction</a></td>
                          </tr>                     
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}