{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Application for Change of Enrollment (Change of Schedule/Subjects)</h4>
            <p>
              Process request for application for change of enrollment specifically for change of schedule or subject/s. This is both
              for <strong>regular</strong> and <strong>irregular</strong> student of the University and is done during the adjustment period. 
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Accomplished and printed copy of ACE form (Change of Schedule/Subject) downloadable from this <a  href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >link.</a>
                </li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td>1. Go to the Faculty
                                  member/s
                                  assigned to the
                                  subject's to be
                                  enrolled for
                                  acceptance to the
                                  class
                                  </td> 
                                <td>Accept and sign
                                  the RO form
                                  </td>
                                <td>None</td>
                                <td>3 days and 52
                                  minutes
                                  </td>
                                <td>Faculty Member/s
                                  Assigned Roomjs
                                  based on Teaching
                                  Assignment</td>                    
                          </tr>
                          <tr>
                            <td>2. Go to the Director/
                              Head of Academic
                              Program for
                              signature and
                              tagging
                              </td>
                            <td><p>Accept. evaluate.
                              and sign the RO
                              form.
                              </p><p>Tag the subject's
                                indicated in the
                                RO Form.
                                </p></td>
                            <td>None</td>
                            <td>12 minutes</td>
                            <td>Director/ Head of
                              Academic Program</td>
                          </tr>
                          <tr>
                            <td>3. Proceed to
                              Cashier's Office to
                              pay the assessed
                              fee (for students
                              not covered by
                              RA. 10931)
                              </td>
                            <td>Accept payment and issue official receipt</td>
                            <td>Tuition Fee
                              </td>
                            <td>8 minutes</td>
                            <td>CDO
                              Cashier/
                              Accounting Office</td>
                          </tr>                     
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}