{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Online Petition of Subject</h4>
            <p>
              Process online request for petition of back subject or retake of subject not offered for
              the current semester. Minimum of 35 students must request tho potiticn to be
              recommended by the Director/ Head of Academic Program and approved by the Office
              of Vice President for Branches and Campuses. 
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Accomplished and printed copy of ACE form (Change of Schedule/Subject) downloadable from this <a  href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >link.</a>
                </li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td>I.
                                  Request for
                                  petition of subject
                                  online
                                  </td> 
                                <td><p>1.1 Review
                                  petitioned
                                  subject</p>
                                  <p>1.2 Endorse
                                    petition to the
                                    OVPBC
                                    </p>
                                  <p>1.3 Evaluate the
                                    petition and
                                    approve as
                                    necessary
                                    </p><p>1.4 Forward the
                                    approved
                                    petition to the
                                    ICTO
                                    </p><p>1.5 Create
                                    section
                                    offering of the
                                    approved
                                    petitioned
                                    subject
                                    </p>
                                  </td>
                                <td>
                                  None
                                  </td>
                                <td>1 day, 3 hours and 25 minutes</td>
                                <td><p>Director/ Head of
                                  Academic
                                  Program</p>
                                  <p>Assistant to tho
                                    VP for Branches
                                    and Campuses
                                    Second Floor,
                                    South Wing
                                    Administrative
                                    Building
                                    Administratwe
                                    Staff
                                    ICT Office</p>
                                  </td>                    
                          </tr>
                          <tr>
                            <td>2.
                              Enroll the
                              petitioned subject
                              during online
                              registration or on
                              adjustment period
                              </td>
                            <td>Tag student
                              through SIS
                              Academic
                              Management
                              System
                              </td>
                            <td>None</td>
                            <td>IO Minutes</td>
                            <td>Director/ Head of
                              Academic
                              Program
                              </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>   
                                       
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}