{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Processing of Online Petition of Subject</h4>
            <p>
              Process online request for petition of back subject or retake of subject not offered for the current semester. Minimum of 35 students must request
               the petition to be recommended by the Director/ Head of Academic Program and approved by the Office of Vice President for Branches and Campuses. 
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Online Petition of Subject from <a class="link"  href="https://sis1.pup.edu.ph/" target="_blank" rel="noopener noreferrer" >https://sis1.pup.edu.ph/</a>
                </li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td><strong>1.</strong> Request for petition of subject online.</td> 
                                <td><strong>1.1</strong> Review petitioned subject. <br> <br>
                                    <strong>1.2</strong> Endorse petition to the OVPBC. <br> <br>
                                    <strong>1.3</strong> Evaluate the petition and approve as necessary. <br> <br>
                                    <strong>1.4</strong> Forward the approved petition to the ICTO. <br> <br>
                                    <strong>1.5</strong> Create section offering of the approved petitioned subject.
                                </td>
                                <td>None</td>
                                <td>1 day, 3 hours and 25 minutes</td>
                                <td>Director/ Head of Academic Program <br> <br>
                                    Assistant to the VP for Branches and Campuses Second Floor, South Wing Administrative Building
                                    Administratwe Staff
                                    ICT Office
                                </td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Enroll the petitioned subject during online registration or on adjustment period.</td>
                            <td><strong>2.1</strong> Tag student through SIS Academic Management System.</td>
                            <td>None</td>
                            <td>10 Minutes</td>
                            <td>Director/ Head of Academic Program</td>
                          </tr>      
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_petition')}}">Goto transaction</a></td>
                          </tr>                                  
                    </tbody>
                  </table>
                </section>
              </div>   
        </div>
    </div>
</main>

{% endblock %}