{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <h4>Application for Shifting</h4>
            <p>
              Process request for students who intend to shift to another program in the University. Student mus have
              one(1) year residency from the current program to qualify for shifting to another program. Application for shifting shall be
              accomplished prior to the start of the next academic school year. Qualification varies depending on the program where the student intends to shift.
            </p>
            &nbsp; <strong> Checklist of Requirements: </strong>
            <ul>
                <li>Certified Copy of Grades at Admission Office.</li>
                <li>Full-accomplished Shifting Form at Respective College/Branch/Campus.</li>
            </ul>

            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be Paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                              <td><strong>1.</strong> Pay the amount for Collect payment securing certified to student copy of grades.</td> 
                              <td><strong>1.1</strong> Collect payment to student.</td>
                              <td>&#8369; 150.00</td>
                              <td>4 Minutes</td>
                              <td>CDO Cashier/Accounting Office.</td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Proceed to the Admissions Office of grades and present official receipt.</td>
                            <td><strong>2.1</strong> Print the copy of grades.<br> <br>
                                <strong>2.2</strong> Certify the copy of grades.
                            </td>
                            <td>None</td>
                            <td>4 Minutes</td>
                            <td>Administrative, Staff Head of Admission and Registration Office.</td>
                          </tr>
                          <tr>
                            <td><strong>3.</strong> Present the fully-accomplished shifting form and certified copy of grades for receipt evaluation and approval.</td>
                            <td><strong>3.1</strong> Check fully accomplished shifting form. <br> <br>
                                <strong>3.2</strong> Evaluate certified copy of grades. <br> <br>
                                <strong>3.3</strong> Interview and assess student's capability and skills. <br> <br>
                                <strong>3.4</strong> Accept student in the program and sign the acceptance portion of the shifting form.
                            </td>
                            <td>None</td>
                            <td>14 Minutes</td>
                            <td>Director/ Head of Academic Program.</td>
                          </tr>    
                          <tr>
                            <td>4. Return the fully-accomplished shifting form to the Director/Head ofAcademic Program.</td>
                            <td><strong>4.1</strong> Sign the release portion of the Shifting form. <br> <br>
                                <strong>4.2</strong> Advise Student to proceed to the Director's Office for final approval of release from the current program.
                            </td>
                            <td>None</td>
                            <td>4 Minutes</td>
                            <td>Director/ Head ofAcademic Program</td>
                          </tr>
                          <tr>
                            <td><strong>5.</strong> Present the fully-accomplished shifting form for final approval Of release from the current program.</td>
                            <td><strong>5.1</strong> Sign the approval portion of the shifting form. <br> <br>
                                <strong>5.2</strong> Advise student to proceed to the Registrar's Office for transfer of credentials from current program to shifting program and enrolment of subjects process.</td>
                            <td>None</td>
                            <td>4 Minutes</td>
                            <td>Director/ Head of Academic Program</td>
                          </tr>                     
                    </tbody>
                  </table>
                </section>
              </div>   

        </div>
    </div>
</main>

{% endblock %}