{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
        <h4>Application for Overload of Subjects</h4>
        <p>
            Process request for overload of subjects for students who intend to add additional subject/s more
            than the prescribed number of units specified in the curriculum for the current semester prior to 
            the opening of classes or within the adjustment period specified in the University calendar and approved
            by the Director Head of Academic Program.
            <br><br> Request for overload may be allowed for graduating students during the last school term. For undergraduate
            students, overload may be allowed under the following considerations: 
            <ul>
                <li>Academically outstanding student as certified by the Directord/Head of Academic Program.</li>
                <li>Transferee/Shiftiee who is in good standing (no failing grade in the previous semester.)</li>
            </ul>
                &nbsp; <strong> Checklist of Requirements:</strong>
                <ul>
                    <li>Request letter for Overload (Complete justification of the need for overload, subjects to overload).</li>
                    <li>SIS Generated Curriculum Profile.</li>
                    <li>Fully-accomplished Request for Overload Form (For Respective College/Branch/Campus).</li>
                    <li>Fully-accomplished ACE form (Adding of Subjects and Changing of Subject/Schedule). Downloadable from <a class="link" href="https://www.pup.edu.ph/downloads/students/" target="_blank" rel="noopener noreferrer" >www.pup.edu.ph/downloads/students/</a></li>
                    <li>Certificate of Registration for the current semester.</li>
                    <li>SIS Generated Curriculum Profile.</li>
                </ul>
         
            
            <div class="content-panel">
                <section id="unseen">
                    <table id="records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Client Steps</th>
                                <th>Agency Action</th>
                                <th>Fees to be paid</th>
                                <th>Processing Time</th>
                                <th>Person Responsible</th>
                            </tr>
                        </thead>
                  <tbody>                  
                          <tr>
                                <td><strong>1.</strong> Submit all requirements for evaluation and approval.</td> 
                                <td><strong>1.1</strong> Check requirements presented. <br> <br>
                                    <strong>1.2</strong> Verify correctness of documents by checking the SIS grade file of the Student. <br> <br>
                                    <strong>1.3</strong> Upon evaluation, recomment the request for approval of the Director.
                                </td>
                                <td>None</td>
                                <td>5 Minutes</td>
                                <td>Director/Head of Academic Program</td>                    
                          </tr>
                          <tr>
                            <td><strong>2.</strong> Present the overload request form for approval of the Director.</td>
                            <td><strong>2.1</strong> Approve/deny the request.</td>
                            <td>None</td>
                            <td>1 Minute</td>
                            <td>Director</td>
                          </tr>
                          <tr>
                            <td><strong>3.</strong> Present the approved overload form to the Director/Head of Academic Program for adding of units to the student SIS account.</td>
                            <td><strong>3.1</strong> Add corresponing units in the student account through SIS Academic Management System. <br> <br>
                                <strong>3.2</strong> Advise Student to proceed to Application for change of Enrollment Process (Adding of Subject/s).
                            </td>
                            <td>None</td>
                            <td>2 Minutes</td>
                            <td>Director/Head of Academic Programs</td>
                          </tr>                     
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{url_for('redirect_based_on_login_overload')}}">Goto transaction</a></td>
                          </tr>
                    </tbody>
                  </table>
                </section>
              </div>     
            </p>      
        </div>
    </div>
</main>




    
 
    {% endblock %}