{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <b>Section 1.</b>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> <b>Section 1.</b> Student offenses shall be subjected to disciplinary measures by the University. If the sanction imposed is suspension or dismissal, the student shall not be allowed to enter the University premises.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <b>Section 2.</b>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> <b>Section 2.</b> All complaints involving students shall be referred to the Office of the Student Services.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <b>Section 3.</b>
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> <b>Section 3. The grounds for disciplinary action and the corresponding sanctions/penalties are as follows:</b> 
                        <br><br><b>3.1 Not having the ID validated Old students (Second to Fifth Year students).</b>
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>
                        <br><br><b>1st Offense –</b> The student shall be given a warning slip by the Student Affairs Section of OSS. The student’s parent/guardian shall be informed about the offense committed by the student.
                        <br><br><b>2nd Offense –</b> one (1) week suspension
                        <br><br><b>3rd Offense –</b> two (2) weeks suspension More than three (3) Offenses – one (1) month suspension
                        <br><br><b>3.2 Not wearing ID No student shall be allowed to enter the University premises</b>
                        <br><br> Without ID or registration card (RC). In case of lost ID or Registration Card (RC), the student shall secure a temporary visitor’s pass and shall immediately request for a Student’s Entry Slip (SES) from the Office of the Director of the Student Services. The SES shall be valid for three (3) days only. Students who requested or was issued SES for three (3)
                        instances in one semester shall be meted with a penalty of one-week suspension. Students caught not wearing ID or without SES shall be meted with the following penalty:
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>    
                        <br><br><b>1st Offense –</b> The student shall be given a warning slip by the Student Affairs Section of OSS. The student’s parent/guardian shall be informed about the offense committed by the student.
                        <br><br><b>2nd Offense –</b> one-week suspension
                        <br><br><b>3rd Offense –</b> two-week suspension More than three (3) Offenses – one-month suspension
                        <br><br><b>3.3 Loss of ID / Registration Card</b>
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>
                        <br><br><b>1st Offense –</b> warning and payment for the cost of printing of new ID
                        <br><br><b>2nd Offense –</b> warning and requiring of 16-hour student- assistance service to be rendered within 5 school days upon report of loss, on top of payment for the cost of ID printing.
                        <br><br><b></b> For more than two (2) offenses – requiring 24-hour student-assistance service to be rendered within 7 schooldays upon report of loss, on top of the payment for the cost of ID printing. In all instances, submission of notarized affidavit attesting to the reason of the loss shall be required. Notarization of Affidavit of Loss for lost ID card shall be rendered as free
                        service of the University.
                        <br><br><b>3.4 Using fake, another person’s ID, or lending one’s ID for use of another person</b> 
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>
                        <br><br><b>1st Offense –</b> one-month suspension
                        <br><br><b>2nd Offense –</b> one-semester suspension
                        <br><br><b>3rd Offense –</b> Dismissal from the University
                        <br><br><b>3.5 Failure to secure an ID on time, or late filing of application for ID Freshmen and transferees shall secure ID upon registration.</b>
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>
                        <br><br><b>1st Offense –</b>  The student shall be given a warning slip by the Student Affairs Section of OSS. The student’s parent/guardian shall be informed about the offense committed by the student.
                        <br><br><b>2nd Offense –</b> one-week suspension
                        <br><br><b>3rd Offense –</b> two-week suspension More than three (3) Offenses – one-month suspension
                        <br><br><b>3.6 Wearing of inappropriate attire or violation of Title 4, Section 5.</b>
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>
                        <br><br><b>1st Offense –</b> three (3) hours of campus service
                        <br><br><b>2nd Offense –</b> six (6) hours of campus service
                        <br><br><b>3rd Offense –</b> two-day suspension
                        <br><br><b>4th and subsequent similar offense –</b> one-month suspension
                        <br><br><b>3.7 Overnight stay in any University property shall be strictly regulated.</b>
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>
                        <br><br><b>1st Offense – </b> One-week suspension
                        <br><br><b>2nd Offense – </b> One-month suspension
                        <br><br><b>3rd Offense – </b> One-semester suspension
                        <br><br><b>4th and subsequent similar offense –</b> Dismissal from the University
                        <br><br><b>3.8 Unauthorized use of name, logo and seal of the University in printed programs, invitations, announcements, tickets, and the like In addition to other penalties for whatever damages the University may incur, the following sanctions shall be imposed to the erring student.</b>
                        <br><br><b>DISCIPLINARY SANCTIONS:</b>
                        <br><br><b>1st Offense –</b> Three (3) hours of campus service
                        <br><br><b>2ndt Offense –</b> Six (6) hours of campus service
                        <br><br><b>3rd Offense –</b> Two-day suspension
                        <br><br><b>4th and subsequent similar offense –</b> One (1)-month suspension
                    </div>                        
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <b>Section 4.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 4.</b> In the implementation of the guidelines on the use of ID/ registration certificate, utmost courtesy is expected at all times.
                    </div>
                  </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <b>Section 5.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 5.</b> PUP students may dress up according to their individual taste, but they are required to adhere to the conventions of decency and proper grooming.
                       <br> <b>Note:</b> In cases where a Department/College/Branch/Campus would have a uniform, this must be approved by at least the majority of the students, and noted by the College/Branch/Campus Student Council President and the Dean/Director. However, it should not be made compulsory and should not be taken against the students in any form.                        
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        <b>Section 6.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">  <b>Section 6.</b> Every PUP student is prohibited from smoking, drinking alcoholic beverages, gambling, taking prohibited drugs, or engaging in any unlawful activity while inside the University premises.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        <b>Section 7.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 7.</b> The student should not destroy or deface any structure, classroom, facility, equipment, or any other property of the University.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        <b>Section 8.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 8.</b> Accredited student organizations and student councils may be allowed to use school facilities for their meetings, seminars, conferences, cultural presentations, athletic activities, and the like, subject to the PUP Guidelines on the Use of University Facilities.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        <b>Section 9.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 9.</b> Any student who wishes to participate in any activity outside the campus as a representative of the University shall comply with the existing guidelines on the conduct of off-campus student activities.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                        <b>Section 10.</b> 
                      </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 10.</b> Students who intend to release to the press or similar channels of public communication notices and other announcements concerning University activities must secure a written clearance from the University.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                        <b>Section 11.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 11.</b> Students who invite guests from outside (e.g. guest lecturers, speakers, seminar participants, viewers of exhibits, and the like) are required to obtain prior approval from the Director of Student Services or his/her duly authorized representative by submitting letter of request indicating the name of visitors, purpose of visit, and expected date and time of arrival. The approved request together with the accomplished form shall be forwarded to the Security Office for information and appropriate action.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                        <b>Section 12.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 12.</b> Student educational tours, field visits / trips, and other similar activities, shall be subject to existing guidelines on off-campus activities.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                        <b>Section 13.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 13.</b> Students and/or student organizations shall not engage in any fund-raising activity without the necessary approval of the authorized University official/s and without complying with the existing guidelines on fund raising.
                        </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                        <b>Section 14.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 14.</b> Students who violate the aforementioned rules and regulations shall be meted with corresponding disciplinary measures as stated in Title 9 - Code of Discipline of this Handbook.
                        </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</main>

{% endblock %}