{% extends "main/base.html" %}

{% block content %}

<main>
    <div class="Box-class">
        <div class="box1">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <b>Section 1.</b>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> <b>Section 1.</b> The regulations of PUP as set forth in this Handbook are formulated to ascertain orderliness necessary in the pursuit of knowledge, to guide the students in attaining the best possible quality of work required of them, and to ensure their desirable deportment.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <b>Section 2.</b>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> <b>Section 2.</b> Every PUP student is expected to observe and abide by all policiesand regulations of the University; thus, he/she is committed to uphold these rules and regulations.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <b>Section 3.</b>
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> <b>Section 3.</b> Every PUP student is an extension and reflection of the University.Henceforth, whether on- or off-campus, he/she is expected to be a model of the highest norms of behavior befitting a true scholar, a future professional,and a respectable citizen.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <b>Section 4.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 4.</b> Students are expected to know the philosophy, vision and missionof the University, the meaning of its logo, and the Imno ng PUP.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <b>Section 5.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 5.</b> He/She shall observe and respect the laws of the land, the standards of organized society, the code of conduct, and rules an regulations of the University.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        <b>Section 6.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">  <b>Section 6.</b> He/She shall, in words and in deeds, observe the usual norms of courtesy and etiquette in all areas of interpersonal relationships with all members of the University community.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        <b>Section 7.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 7.</b> He/She is expected to show respect and deference to all members of the academe including visitors in the campus.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        <b>Section 8.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 8.</b> Students are expected to cooperate in classroom procedures, as well as in keeping clean and orderly classrooms, corridors, walls, boards, furniture, equipment, the campus premises and the structures and other facilities therein. Students shall not post or inscribe offensive or indecent language in the form of graffiti.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        <b>Section 9.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 9.</b> Students shall not display boisterous or unbecoming behavior, and rude actions that tend to disrupt and disturb the teaching-learning process.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                        <b>Section 10.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 10.</b> Students are encouraged to attend activities that are sponsored by the University, college, department, and/or campus/branch.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                        <b>Section 11.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 11.</b> Students are not allowed to stay inside the University premises beyond curfew time (10PM to 6AM), Sundays (except for NSTP/ROTC classes), holidays, or when classes are suspended.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                        <b>Section 12.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 12.</b> In case where there is no registered parent/guardian to sign a permit or any other document of a student, the student shall be the only authorized person to sign.
                    </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                        <b>Section 13.</b>
                      </button>
                    </h2>
                    <div id="flush-collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> <b>Section 13.</b> Only offices of the University shall use the name, logo, and seal of the University. Students, as individuals or groups, shall not be allowed to use the name and logo of the University without the recommendation of the activity adviser/chairperson, and the approval of the duly authorized University Official. This applies to printed programs, invitations,
                        announcements, letters, tickets, and the like.
                        </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</main>

{% endblock %}